.WarCardSEC {
  div {
    display: inline-block;
  }
  width: 100%;
  background-color: rgb(236, 236, 236);
  .WarCard {
    overflow: hidden;
    position: relative;
    margin-left: 20px;
    margin-bottom: 70px;
    border-radius: 10px;
    width: 330px;
    height: 450px;
    background-color: rgb(214, 214, 214);
  }
  .BGCardPic {
    border-radius: 10px;
    width: 330px;
    height: 220px;
  }
  .history {
    .historyMark {
      width: 200px;
      background-color: rgba(8, 8, 8, 0.7);
      height: 25px;
      z-index: 10;
      position: absolute;
      top: 60px;
      left: -40px;
      transform: rotate(-50deg);
      color: white;
    }
  }
  .CardTitle {
    width: 220px;
    margin-right: -100px;
    direction: rtl;
    text-align: right;
    h2 {
      font-size: 20px;
      color: #000;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
  .DescriptionCard {
    text-align: right;
    color: rgb(68, 68, 68);
  }
  .CardBTN {
    width: 400px;
    margin-left: -170px;
    margin-top: 5px;
    button {
      background-color: rgb(219, 219, 219);
      border: 1px solid rgb(0, 0, 0);
      border-radius: 20px;
      width: 110px;
      font-family: "MmdBold";
      height: 30px;
    }
    button:hover {
      background-color: rgb(0, 0, 0);
      color: white;
    }
  }
}
